<div class="body-container">
	<div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true">

			<div class="signup">
				<form ngNativeValidate #form>
					<label for="chk" aria-hidden="true">Sign up</label>
					<input type="text" name="txt" placeholder="User name" required =""
						[(ngModel)]="signupObj.username" #username="ngModel">
					<input type="email" name="email" placeholder="Email" required="" 
						[(ngModel)]="signupObj.email" #email="ngModel">
					<input type="password" name="pswd" placeholder="Password" required="" 
						[(ngModel)]="signupObj.password" #password="ngModel">
					<button (click)= "form.checkValidity()? onSignUp() : null">Sign up</button>
				</form>
			</div>

			<div class="login">
				<form>
					<label for="chk" aria-hidden="true">Login</label>
					<input type="text" name="username" placeholder="User Name" required="" 
						[(ngModel)]="loginObj.username" #username="ngModel">
					<input type="password" name="pswd" placeholder="Password" required="" 
						[(ngModel)]="loginObj.password" #password="ngModel">
					<button (click)="onLogIn()">Login</button>
				</form>
			</div>
	</div>
</div>